<div class="p-8 rounded border max-w-2xl mx-auto my-4">
  <h2 class="text-3xl font-bold mb-4">Sign Up</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field flex flex-col mb-4">
      <%= f.label :email, class: 'mb-1' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full p-1 rounded border' %>
    </div>
  
    <div class="field flex flex-col mb-4">
      <%= f.label :username, class: 'mb-1' %>
      <%= f.text_field :username, autofocus: true, class: 'w-full p-1 rounded border'%>
    </div>
  
    <div class="field flex flex-col mb-4">
      <%= f.label :name, class: 'mb-1' %>
      <%= f.text_field :name, autofocus: true, class: 'w-full p-1 rounded border' %>
    </div>
  
    <div class="field flex flex-col mb-4">
      <%= f.label :password, class: 'mb-1' %>
      <% if @minimum_password_length %>
        <p class="text-sm">(<%= @minimum_password_length %> characters minimum)</p>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'w-full p-1 rounded border' %>
    </div>

    <div class="field flex flex-col mb-4">
      <%= f.label :password_confirmation, class: 'mb-1' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-full p-1 rounded border' %>
    </div>
  
    <div class="actions flex items-start justify-between">
      <%= render "devise/shared/links" %>
      <%= f.submit "Sign up", class: 'px-2 py-1 text-white bg-green-600 rounded' %>
    </div>
  <% end %>
</div>
