<% if resource.errors.any? %>
  <div id="error_explanation" class="p-4 bg-yellow-600 text-white mb-4 rounded">
    <h2 class="font-semibold font-lg">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
