<ul>
  <% @folders.each do |folder| %>
    <% unless folder.id.nil? %>
      <li class="hover:bg-gray-200">
      <%= link_to folder_snippets_path(folder), class: 'flex items-center p-4 border-b border-gray-400' do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
        </svg>
        <p><%= folder.name %></p>
        <% if folder.is_private? %>
          <span class="ml-2 text-sm text-gray-500 p-1">private</span>
        <% end %>
      <% end %>
      </li>
    <% end %>
  <% end %>

  <% if can?(:create, @folders.klass) && !locals[:new_button_hide?] %>
    <li class="hover:bg-gray-200">
      <%= link_to new_folder_path, class: 'flex items-center p-4 border-b border-gray-400' do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
        </svg>
        <p class="">Create Folder</p>
      <% end %>
    </li>
  <% end %>
</ul>
