<% content_for :sidebar do %>
  <%= render "folders/folder_lists", locals: {} %>
<% end %>

<% content_for :main_header do %> 
  <div class="p-4 border-b">
    <div>
      <h2 class="text-3xl font-bold mb-2">
        Edit <%= @folder.name %>
      </h2>
      <p class="text-lg mb-1">
      <% if current_user.folders.exists? %>
        <%= link_to 'go back', folder_snippets_path(@folder), class: 'text-red-700 underline' %> 
      <% else %>
        <%= link_to 'go back', folders_path, class: 'text-red-700 underline' %> 
      <% end %>
      </p>
    </div>
  </div>
<% end %>

<% content_for :main_content do %>
  <%= form_with class: 'mb-2', model:  @folder do |form| %>
    <div class="flex flex-col border p-4 rounded">
      <div class="mb-2">
        <div class="flex items-center">
          <%= form.label :name, 'Folder Name', class: 'text-gray-500 mr-2' %>
          <%= form.text_field :name, class: 'border-b' %>
        </div>
        <% @folder.errors.full_messages_for(:name).each do |message| %>
          <p class="text-sm text-red-700">
            <%= message %>
          </p>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :description, class: 'hidden' %>
        <%= form.text_area :description, class: 'w-full border p-2', placeholder: 'File Description' %>
        <% @folder.errors.full_messages_for(:description).each do |message| %>
          <p class="text-sm text-red-700">
            <%= message %>
          </p>
        <% end %>
      </div>
    
      <div class="mb-4">
        <%= form.label :status, class: 'text-gray-500' %>
        <%= form.select :status, ['public', 'private'], class: 'p-2 rounded' %>
      </div>

      <%= form.submit class: 'bg-green-400 rounded px-2 py-1 text-sm text-white self-end' %>
    </div>
  <% end %>
<% end %>
