<% content_for :sidebar do %>
  <%= render "folders/folder_lists", locals: {} %>
<% end %>

<% content_for :main_header do %> 
  <div class="p-4 border-b">
    <div>
      <h2 class="text-3xl font-bold mb-2">Hello <%= current_user.username %>!</h2>
    </div>
  </div>
<% end %>

<% content_for :main_content do %>
  <% if current_user.folders.empty? %>
    <div class="p-6 flex flex-col items-center">
      <%= image_tag 'no_folders_found.png', class: "w-52 mb-4" %>
      <p>
        you don't have any folder, you 
    <%= link_to 'can create new folder', new_folder_path, class: 'text-red-700 underline' %>
      </p>
    </div>
  <% else %>
    <div class="p-6 flex flex-col items-center">
      <%= image_tag 'folders_neutral_state.png', class: "w-52 mb-4" %>
      <p>
        You can select your folder or you 
        <%= link_to 'can create new folder', new_folder_path, class: 'text-red-700 underline' %>
        to manage your snippets
      </p>
    </div>
  <% end %>
<% end %>
