<% content_for :sidebar do %>
  <%= render "folders/folder_lists", locals: {} %>
<% end %>

<% content_for :main_header do %> 
  <div class="p-4 border-b">
    <div>
      <h2 class="text-3xl font-bold mb-2">
        Edit <%= "#{@snippet.name}" %>
      </h2>
      <p class="text-lg mb-1">
        go back to 
        <%= link_to @snippet.folder.name, folder_snippets_path(@snippet.folder), class: 'text-red-700 underline' %> 
        folder
      </p>
    </div>
  </div>
<% end %>

<% content_for :main_content do %>
  <%= form_with model: @snippet do |form| %>
    <div class="flex flex-col border p-4 rounded">
      <div class="mb-2">
        <div class="flex items-center">
          <%= form.label :name, 'Snippet Name', class: 'text-gray-500 mr-2' %>
          <%= form.text_field :name, id: 'name-input', class: 'border-b' %>
        </div>
        <% @snippet.errors.full_messages_for(:name).each do |message| %>
          <p class="text-sm text-red-700">
            <%= message %>
          </p>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :content, class: 'hidden' %>
        <%# EDITOR %>
        <div id="editor" class="relative">
          <%= form.text_area :content, class: 'resize-none w-full overflow-hidden pl-16 p-5 text-white', style: 'font-family: "Andale Mono"; background: rgb(20, 20, 20); min-height: 200px', id: 'snippet-input', placeholder: 'Input your code here' %>
          <pre class="w-full h-full absolute rounded line-numbers top-0 left-0 pb-0 opacity-90" style="position:absolute; pointer-events: none; margin: 0; white-space: pre-wrap;">
            <code id="snippet-overlay" class=""></code>
          </pre>
        </div>
        <% @snippet.errors.full_messages_for(:content).each do |message| %>
          <p class="text-sm text-red-700">
            <%= message %>
          </p>
        <% end %>
      </div>
    
      <%= form.submit class: 'bg-green-400 rounded px-2 py-1 text-sm text-white self-end' %>
  <% end %>
<% end %>

<%= content_for :additional_js do %>
  <% if controller_name == 'snippets' && action_name == 'edit' %>
    <%= javascript_include_tag "snippet-editor" %>
  <% end %>
<% end %>
