(function () {
  const prismScriptIsExist = document.querySelector('#prism-script');
  const snippetTemplate = `
  <div class='symbolic-snippet-wrapper'>
    <pre class='line-numbers'>
      <code class='language-<%= @snippet.format %>'><%= raw @snippet.content.gsub '`', '\\\`' %></code>
    </pre>
    <p>
      <b><%= @snippet.name %></b>
      <span>
        created using <span>Symbolic Snippet</span>
      </span>
    </p>
  </div>
  `;

  if (!prismScriptIsExist) {
    document.write(`<link id="prism-style" rel="stylesheet" href="http://127.0.0.1:3000/embed/style">`)
    document.write(`<script id="prism-script" src="http://127.0.0.1:3000/embed/script"></script>`)
  }

  document.write(snippetTemplate);
})();
