<div class="p-4 max-w-4xl mx-auto mt-2">
  <div class="mb-6 flex flex-col md:flex-row items-center">
    <%= image_tag 'welcome_illustration.png', class: "w-96 mb-4" %>
    <div>
      <p class="text-4xl font-bold text-gray-800 mb-2">
        snippet management made <span class="underline">easy</span>. 
      </p>
      <p class="text-xl text-gray-800 mb-7">
        manage your snippet now on symbolic-snippet!
      </p>
      <%= link_to new_user_registration_path, 
        class: 'px-4 py-2 rounded border border-gray-800 text-center text-gray-800 hover:bg-red-700 hover:text-white hover:border-0' do %>
        Try Now
      <% end %>
    </div>
  </div>
  <p class="text-gray-500 text-sm flex justify-between">
    <span>create</span>
    <span>see changes</span>
    <span class="underline">coming soon</span>
    <span>edit</span>
    <span>embed &#38; download</span>
  </p>
</div>
