<div class="p-4 max-w-4xl mx-auto mt-2">
  <div class="mb-6 flex flex-col items-center">
    <%= image_tag '404', class: "w-96 mb-4" %>
    <p class="text-2xl text-gray-800 mb-2">
    not found, go back to <%= link_to 'home', root_path, class: 'underline text-red-600' %>
    </p>
  </div>
</div>
