<% content_for :sidebar do %>
  <%= render "folders/folder_lists", locals: {} %>
<% end %>

<% content_for :main_header do %> 
  <div class="p-4 border-b">
    <div>
      <h2 class="text-3xl font-bold mb-2">
        Changes in <%= "#{@snippet.name}" %>
      </h2>
      <p class="text-lg mb-1">
        go back to 
        <%= link_to @snippet.folder.name, folder_snippets_path(@snippet.folder), class: 'text-red-700 underline' %> 
        folder
      </p>
    </div>
  </div>
<% end %>

<% content_for :main_content do %>
  <% if @versions.exists? %>
    <ul class="p-4">
      <% @versions.each do |version| %>
        <li class="mb-2">
          <div class="flex justify-between mb-2 items-center">
            <div>
              <span class="text-sm text-gray-500">
                <%= time_ago_in_words(version.created_at) %> ago
              </span>
            </div>
            <div class="flex border rounded">
              <%# EMBED %>
              <%= link_to '#', class: 'flex items-center border-r px-2' do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                </svg>
                <p class="text-sm">Embed</p>
              <% end %>
              <%# DOWNLOAD %>
              <%= link_to '#', class: 'flex items-center border-r px-2' do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                </svg>
                <p class="text-sm">Download</p>
              <% end %>
            </div>
          </div>
          <%# content %>
          <pre class="rounded line-numbers">
            <code class="lang-<%= @snippet.format %>"><%= version.old %></code>
          </pre>
          <pre class="rounded line-numbers">
            <code class="lang-<%= @snippet.format %>"><%= version.new %></code>
          </pre>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="p-6 flex flex-col items-center">
      <%= image_tag 'versions_empty.png', class: "w-52 mb-4" %>
      <p>
        no changes found in this snippet
      </p>
    </div>
  <% end %>
<% end %>
