<div class="p-8 rounded border max-w-2xl mx-auto my-4">
  <h2 class="text-3xl font-bold mb-4">Sign In</h2>
  
  <%= form_for(resource, as: resource_name, data: {turbo: false}, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field flex flex-col mb-4">
      <%= f.label :email, class: 'mb-1' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full p-1 rounded border' %>
    </div>
  
    <div class="field flex flex-col mb-4">
      <%= f.label :password, class: 'mb-1' %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'w-full p-1 rounded border' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mb-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions flex items-start justify-between">
      <%= render "devise/shared/links" %>
      <%= f.submit "Log In", class: 'px-2 py-1 text-white bg-green-600 rounded' %>
    </div>
  <% end %>
</div>
