// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
// use material theme instead of default style
// @import "active_admin/base";
@import "active_material";
      
.header-item.tabs li a {
  display: flex;
  align-items: center;
}

// Override material theme style

#site_title {
  background: $am-drawer-background image_url("active-admin-site-title-bg") 50% 0 no-repeat;
}

#header {
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
}

.panel > .panel_contents {
  padding: 0 16px;
}

.action_items {
  display: flex;
  align-items: center;
}

#resource > a {
  display: flex;
  align-items: center;
}

.am-nav-enabled .has_nested .am-nav-toggle::before {
  top: 60%;
}

.index_as_table tbody td a {
  color: #72C76D;
  text-decoration: underline;
}

// Custom component style

.resource_counter_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.resource_counter {
  text-align: center;
  margin: 0 16px;
}

.resource_counter_number {
  font-weight: bold;
  font-size: 48px;
}
      
      

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
