<!DOCTYPE html>
<html>
  <head>
    <title>SymbolicSnippet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet"> 
    <script src="https://cdn.tailwindcss.com"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
 </head>

  <body class="bg-blue-100 flex flex-col min-h-screen">
    <header>
      <%= render 'shared/navbar' %>
      <% unless notice.nil? %>
        <p class="notice px-4 py-2 bg-green-600 text-white"><%= notice %></p>
      <% end %>
      <% unless alert.nil? %>
        <p class="alert px-4 py-2 bg-yellow-600 text-white"><%= alert %></p>
      <% end %>
    </header>
    <main class="grow bg-white">
      <%= yield %>
    </main>
  </body>
</html>
