<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet"> 
    <script src="https://cdn.tailwindcss.com"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %1> %>
    <%= javascript_importmap_tags %>
    <% if controller_name == 'snippets' || controller_name == 'versions' %>
     <%= stylesheet_link_tag 'prism' %> 
    <% end %>
    <%= yield :additional_css %>
  </head>

  <body class="min-h-screen">
    <header>
      <%= render 'shared/navbar' %>
      <% unless notice.nil? %>
        <p class="notice px-4 py-2 bg-green-600 text-white"><%= notice %></p>
      <% end %>
      <% unless alert.nil? %>
        <p class="alert px-4 py-2 bg-yellow-600 text-white"><%= alert %></p>
      <% end %>
    </header>
    <div class="flex h-screen">
      <% if current_user %>
        <nav class="w-1/4">
          <%= yield :sidebar %>
        </nav>
      <% end %>
      <main class="<%= current_user ? 'w-3/4' : 'w-full max-w-4xl mx-auto' %>">
        <header>
          <%= yield :main_header %>
        </header>
        <%= yield :main_content %>
      </main>
    </div>
    <% if controller_name == 'snippets' || controller_name == 'versions' %>
      <%= javascript_include_tag "prism" %>
    <% end %>
    <%= yield :additional_js %>
  </body>
</html>
